:root {
  --primary-color: #754ffe;
  --gray-200: #e9edf4;
  --text-muted: #64748b;
  --hover-primary: #5a3ebd;
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  background-color: #f8f9fa;
}

.nav-link i {
  font-size: 0.65rem;
}

.hero-section {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.hero-section .bi {
  color: #f5a51e;
}

.hero-section input.form-control::placeholder {
  color: #919cac;
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: #fff;
}

.btn-primary:hover {
  background-color: #593bdf;
  border-color: #593bdf;
}

.btn-success {
  background-color: #38a169;
  border-color: #22c55e;
  color: #fff;
}

.btn-success:hover {
  background-color: #16a34a;
  border-color: #16a34a;
}

.btn-link-primary {
  color: var(--primary-color);
  font-weight: 600;
  text-decoration: underline;
}

.btn-link-primary:hover {
  color: #593bdf;
  text-decoration: none;
}

.bg-primary {
  background-color: var(--primary-color) !important;
}

.text-primary {
  color: var(--primary-color) !important;
}

.bg-gray-200 {
  background-color: var(--gray-200) !important;
}

.fw-semi-bold {
  font-weight: 600 !important;
}

.icon-xxl {
  width: 4.5rem;
  height: 4.5rem;
  font-size: 1.5rem;
  line-height: 1;
}

